
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.css'%}">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">blogs</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url "home" %}" class="nav-link active" aria-current="page">Go to Home</a></li>
           
          </ul>
        </header>
      </div>
    {% for post in posts %}
    
  <div class="container d-flex justify-content-around p-5 pb-3">
        
        <div class="col">
          <div class="card card-cover h-290 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
             <h1 class="display-1">{{ post.title }}</h1>
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ post.excerpt }}</h2>
              <img src="{% static './images/'|add:post.image_name %}" class="mx-auto img-fluid" style="width: auto; height: 395px;">
              <p>{{ post.content }}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
          
    {% endfor %}
    <script src="{% static './js/bootstrap.bundle.js' %}"></script> 
</body>
</html>